#videosources .ui-li-thumb {
  max-width: 74px;
  max-height: 74px;
}

#videos .ui-li-thumb {
  max-width: 116px;
  max-height: 66px;
}

#videosources .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
  padding-left: 94px;
}

#videos .ui-li-has-thumb .ui-btn-inner a.ui-link-inherit {
  padding-left: 130px;
}

.ui-li-heading {
  white-space: normal;
  margin-top: 1em;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
  min-height: 40px;
}

.ui-li-heading {
  font-size: 14px;
  font-weight: normal;
}

.ui-btn-up-c {
  border: 0;
}