.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
  padding-left: 166px;
}

.ui-li-thumb {
  /*height: 100%;*/
  max-width: 152px;
  max-height: 86px;
}

.ui-li-heading {
  white-space: normal;
}

.ui-li-link-alt {
  border: 0;
  border-left: 0;
  width: 60px;
}