<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="nl.x-services.gametv"
        version="0.0.1">

  <name>Game TV</name><!-- is also the name of the icon on the device -->

  <description>De nieuwste video's van de interessantste gamingsites uit binnen- en buitenland</description>

  <author href="http://www.x-services.nl"
          email="eddyverbruggen@gmail.com">
    X-Services VOF
  </author>

  <icon src="icon.png" gap:role="default" />

  <!-- iPhone / iPod Touch icons -->
  <!--<icon src="icons/ios/icon.png" gap:platform="ios" width="57" height="57" />-->
  <icon src="icons/ios/icon_at_2x.png" gap:platform="ios" width="114" height="114" />

  <!-- iPad icons -->
  <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="icons/ios/icon-72_at_2x.png" gap:platform="ios" width="144" height="144" />

  <!-- Android icons -->
  <icon src="icons/android/ldpi.png"  gap:platform="android" gap:density="ldpi" width="36" height="36"/>
  <icon src="icons/android/mdpi.png"  gap:platform="android" gap:density="mdpi" width="48" height="48"/>
  <icon src="icons/android/hdpi.png"  gap:platform="android" gap:density="hdpi" width="72" height="72"/>
  <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="hdpi" width="96" height="96"/>

  <!-- iPhone / iPod Touch splash -->
 	<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
 	<gap:splash src="splash/ios/Default_at_2x_landscape.png" width="960" height="640" />
 	<gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
 	<gap:splash src="splash/ios/Default_iphone5_landscape.png" width="1136" height="640" />

  <!-- iPad splash -->
 	<gap:splash src="splash/ios/Default_ipad.png" width="768" height="1004" />
 	<gap:splash src="splash/ios/Default_ipad_landscape.png" width="1024" height="748" />

  <!--
  LDPI:
  Portrait: 200x320px
  Landscape: 320x200px
  MDPI:
  Portrait: 320x480px
  Landscape: 480x320px
  HDPI:
  Portrait: 480x800px
  Landscape: 800x480px
  XHDPI:
  Portrait: 720px1280px
  Landscape: 1280x720px
  -->

  <!-- Android splash -->
  <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" width="480" height="800" />
  <gap:splash src="splash/android/hdpi_landscape.png" gap:platform="android" gap:density="hdpi" width="800" height="480" />
  <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" width="720" height="1280" />
  <gap:splash src="splash/android/xhdpi_landscape.png" gap:platform="android" gap:density="xhdpi" width="1280" height="720" />

  <feature name="http://api.phonegap.com/1.0/network"/>
  <!--<feature name="http://api.phonegap.com/1.0/camera"/>-->
  <!--<feature name="http://api.phonegap.com/1.0/contacts"/>-->
  <!--<feature name="http://api.phonegap.com/1.0/geolocation"/>-->

  <!--<preference name="phonegap-version" value="2.0.0"/>-->
  <preference name="orientation" value="default"/><!-- both landscape and portrait = "default" -->
  <preference name="target-device" value="universal"/>
  <preference name="webviewbounce" value="true"/><!-- iOS rubber banding -->

  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="prerendered-icon" value="true" /> <!-- no ios gloss effect plz -->

  <preference name="android-minSdkVersion" value="12" /><!-- 8=2.2, 14=4.0, 16=4.1 (heeft een bug met de videoplayer en backknop), 17=4.2 -->
  <preference name="android-installLocation" value="auto" /><!-- preferExternal; preferably install on SD-card -->

  <preference name="stay-in-webview" value="true" /><!-- LinkedIn integration -->

  <preference name="exit-on-suspend" value="true" /><!-- stay with us, or not? -->

  <preference name="splash-screen-duration" value="3500" /> <!-- default 5000 -->

  <gap:plugin name="ChildBrowser" /> <!-- latest release -->

  <!-- allow loading any url in the webview -->
  <access origin="*" />

</widget>
