<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="nl.x-services.gametv"
        version="1.8.SNAPSHOT">

  <name>Game TV</name><!-- is also the name of the icon on the device -->

  <description>De nieuwste video's van de interessantste gamingsites uit binnen- en buitenland</description>

  <author href="http://www.x-services.nl"
          email="info@x-services.nl">
    X-Services.nl
  </author>

  <icon src="icon.png" />
  <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" width="36" height="36" />
  <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" width="48" height="48" />
  <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" width="72" height="72" />
  <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" width="96" height="96" />

  <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
  <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
  <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
  <gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

  <feature name="http://api.phonegap.com/1.0/network"/>

  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="3.1.0"/>
  <preference name="target-device" value="universal"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="prerendered-icon" value="true" />
  <preference name="android-minSdkVersion" value="13" /><!-- TODO lower with native vidplayer ? -->
  <preference name="android-targetSdkVersion" value="18" />
  <preference name="android-installLocation" value="auto" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <preference name="splash-screen-duration" value="2500" />
  <preference name="detect-data-types" value="false" />

  <gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
  <gap:plugin name="net.tunts.webintent" version="0.2.0" />
  <gap:plugin name="nl.x-services.plugins.socialsharing" version="3.5" />
  <!--<gap:plugin name="us.rcs.phonegap.plugins.screendim.screendim.plugin" version="1.0.0" />-->
  <!--<gap:plugin name="nl.x-services.plugins.insomnia" version="2.0" />-->

  <access origin="*" /><!-- allow loading any url in the webview -->

</widget>